
nav{
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}

body{
  background: #dedede
}

textarea{
  border-radius: 5px;
  max-width: 100%;
}

iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  border-radius: 5px;
}

table{
  margin-left: auto;
  margin-right: auto;
}

#left-section{
  background: white;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
}

#center-section{
background: #1F76BD;
color: white;
padding: 20px;
border-radius: 10px;
}

#right-section{
  background: white;
  border-radius: 10px;
  padding: 20px;
  height: 500px;
}


#q2, #q3{
  display: none;
}

#final-btn{
  display: none;
}

#result-section{
  margin-top: 30px;
  background: white;
  border-radius: 10px;
  display: none;
}

#question1, #question2, #question3{
  font-size: 25px;
}

.result-chart{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.table-heading{
  color: white;
  background: #1F76BD;
  font-size: 25px;
}

.table{
  width: 70%;
}

.radar{
  width: 100%;
}


.comment{
  margin-top: 50px;
}

.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header{
  margin-top: 20px;
  margin-bottom: 100px;
}

.pill{
  border-radius: 20px;
  width: 50px;
}

.score{
  height: 40px;
  width: 40px;
  background: #1F76BD;
  color: white;
  text-align: center;
  font-size: 20px;
  margin-right: 5px;
}

.score-section{
  margin-top: 150px;
}






.menu-wrapper {
	position: relative;
	max-width: 500px;
	height: 100px; // hide the scroll bar
	margin: 1em auto;
	overflow-x: hidden;
	overflow-y: hidden;
  margin-top: 30px;
}

.menu	{
	height: 120px; // hide the scroll bar
	box-sizing: border-box;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.item {
  display: inline-block;
  width: 100px;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.paddles {
}
.paddle {
	position: absolute;
	bottom: 50px;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}

.print {
	margin: auto;
	max-width: 500px;

	span {
		display: inline-block;
		width: 100px;
	}
}
